@import url(https://fonts.googleapis.com/css?family=Heebo:400,500,700,900&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-facebook:before {
  content: "\e900";
}

._icon-instagram:before {
  content: "\e901";
}

._icon-linkedin:before {
  content: "\e902";
}

._icon-twitter:before {
  content: "\e903";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #21243D;
  line-height: 1;
  font-family: "Heebo";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Heebo";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 53.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  background: #FF6464;
  border-radius: 2px;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 145%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 9px 21px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.button._fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page {
  padding: 90px 0px 0px 0px;
}

.title {
  font-size: 44px;
  color: #21243D;
  line-height: 136.3636363636%;
  font-weight: 700;
}

.text,
.article__text p {
  color: #21243D;
  font-weight: 400;
  font-size: 16px;
  line-height: 143.75%;
}

.title-posts {
  font-size: 22px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

.social__item {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  font-size: 30px;
}

.header {
  position: relative;
  z-index: 100;
}

.header__container {
  max-width: 1032px;
}

.header__menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__list li:not(:last-child) {
  margin-bottom: 30px;
}

.menu__link {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link_active {
  color: #FF6464;
}

.icon-menu {
  display: none;
}

.footer {
  text-align: center;
  padding: 50px 0;
}

.footer__social {
  margin: 0px 0px 26px 0px;
}

.footer__copy {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.hello {
  padding: 38px 0px 70px 0px;
}

.hello__title {
  margin: 0px 0px 25px 0px;
}

.hello__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hello__content {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 18px 110px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.hello__content *:last-child {
  margin-bottom: 0;
}

.hello__text {
  margin: 0px 0px 35px 0px;
}

.hello__button {
  margin: 0px 0px 25px 0px;
}

.hello__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 243px;
          flex: 0 0 243px;
  height: 243px;
  position: relative;
  border-radius: 50%;
  -webkit-box-shadow: -5px 13px 0 0 #EDF7FA;
          box-shadow: -5px 13px 0 0 #EDF7FA;
}

.hello__avatar img {
  max-width: 100%;
}

.recent-posts {
  background: #EDF7FA;
  padding: 25px 0px 30px 0px;
}

.recent-posts__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 20px 0px;
}

.recent-posts__title {
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.recent-posts__view-all {
  white-space: nowrap;
  color: #00A8CC;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.recent-posts__items {
  margin: 0px -10px;
}

.recent-posts__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 10px;
}

.recent-post {
  height: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  padding: 24px;
}

.recent-post__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 146.1538461538%;
  display: inline-block;
  margin: 0px 0px 17px 0px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.recent-post__info {
  font-weight: 400;
  font-size: 18px;
  line-height: 144.4444444444%;
  margin: 0px 0px 15px 0px;
}

.recent-post__info span {
  margin: 0px 15px;
}

.featured-works {
  padding: 30px 0px 80px 0px;
}

.featured-works__title {
  margin: 0px 0px 20px 0px;
}

.works__main-title {
  margin: 0px 0px 50px 0px;
}

.works__item {
  padding: 0px 0px 30px 0px;
  border-bottom: 1px solid #E0E0E0;
}

.works__image-ibg {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 246px;
          flex: 0 0 246px;
  border-radius: 6px;
  min-height: 180px;
  overflow: hidden;
}

.works__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.works__title {
  display: inline-block;
  font-weight: 700;
  font-size: 30px;
  line-height: 146.6666666667%;
  margin: 0px 0px 15px 0px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.works__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 25px 0px;
}

.works__year {
  font-weight: 900;
  font-size: 18px;
  color: #FFFFFF;
  background: #142850;
  border-radius: 16px;
  padding: 4px 11px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__category {
  color: #8695A4;
  font-size: 20px;
  margin: 0px 0px 0px 25px;
}

.blog {
  padding-bottom: 50px;
}

.blog__title {
  margin: 0px 0px 50px 0px;
}

.blog .blog__subtitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 146.6666666667%;
  display: inline-block;
  margin: 0px 0px 10px 0px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.blog__item {
  padding: 0px 0px 30px 0px;
  border-bottom: 1px solid #E0E0E0;
}

.blog__item:not(:last-child) {
  margin-bottom: 30px;
}

.blog__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  margin: 0px 0px 6px 0px;
}

.blog__separator {
  margin: 0px 20px;
}

.blog__category {
  color: #8695A4;
}

.article {
  padding: 0px 0px 30px 0px;
}

.article__container {
  max-width: 681px;
}

.article__title {
  font-size: 34px;
  font-weight: 700;
  line-height: 147.0588235294%;
  margin: 0px 0px 30px 0px;
}

.article__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px 0px 23px 0px;
}

.article__year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25px;
          flex: 0 0 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
  padding: 4px 11px;
  border-radius: 16px;
  background: #FF6464;
}

.article__category {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  margin: 0px 0px 0px 25px;
}

.article__text p {
  margin: 0px 0px 20px 0px;
}

.article__text img {
  max-width: 100%;
  margin: 0px 0px 20px 0px;
}

@media (min-width: 47.99875em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 33px;
  }

  .menu__list li:not(:last-child) {
    margin-bottom: 0;
  }

  .recent-posts__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .works {
    padding: 0px 0px 55px 0px;
  }

  .works__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .works__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .works__body {
    padding: 0px 0px 0px 18px;
  }

  .works__info {
    margin: 0px 0px 32px 0px;
  }
}

@media (max-width: 55.375em) {
  .hello {
    padding: 0px 0px 70px 0px;
  }

  .hello__content {
    padding: 18px 50px 0px 0px;
  }
}

@media (max-width: 47.99875em) {
  .page {
    padding: 20px 0px 0px 0px;
  }

  .title {
    font-size: 32px;
  }

  .title-posts {
    text-align: center;
    font-size: 18px;
  }

  .header__menu {
    height: 50px;
  }

  .menu__body {
    -webkit-transform: translate(0px, -100%);
        -ms-transform: translate(0px, -100%);
            transform: translate(0px, -100%);
    -webkit-transition: -webkit-transform 0.8s ease 0s;
    transition: -webkit-transform 0.8s ease 0s;
    -o-transition: transform 0.8s ease 0s;
    transition: transform 0.8s ease 0s;
    transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 70px 10px 30px;
    background-color: rgba(255, 255, 255, 0.95);
  }

  .menu-open .menu__body {
    -webkit-transform: translate(0px, 0%);
        -ms-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
  }

  .menu__link {
    font-size: 40px;
    display: block;
    text-align: center;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .hello {
    padding: 0px 0px 60px 0px;
  }

  .hello__title {
    margin: 0px 0px 20px 0px;
  }

  .hello__container {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .hello__content {
    padding: 0px 0px 0px 0px;
  }

  .hello__text {
    padding: 0px 9px;
    margin: 0px 0px 25px 0px;
  }

  .hello__button {
    margin: 0px 0px 20px 0px;
  }

  .hello__avatar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 170px;
            flex: 0 0 170px;
    height: 170px;
    width: 170px;
    margin: 0px 0px 40px 0px;
  }

  .recent-posts__view-all {
    display: none;
  }

  .recent-posts__column:not(:last-child) {
    margin: 0px 0px 17px 0px;
  }

  .recent-post {
    padding: 15px;
  }

  .recent-post__title {
    font-size: 22px;
    margin: 0px 0px 10px 0px;
  }

  .recent-post__info {
    font-size: 16px;
  }

  .featured-works__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
  }

  .featured-works__items .works__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
  }

  .featured-works__items .works__item:not(:last-child) {
    margin: 0px 15px 0px 0px;
  }

  .works__main-title {
    margin: 0px 0px 30px 0px;
  }

  .works__image-ibg {
    margin: 0px 0px 17px 0px;
    padding: 0px 0px 60% 0px;
  }

  .works__title {
    font-size: 24px;
  }

  .works__year {
    font-size: 16px;
  }

  .works__category {
    font-size: 16px;
  }

  .blog__title {
    font-size: 30px;
    margin: 0px 0px 16px 0px;
  }

  .blog .blog__subtitle {
    font-size: 26px;
  }

  .blog__item {
    padding: 0px 0px 25px 0px;
  }

  .blog__item:not(:last-child) {
    margin-bottom: 25px;
  }

  .blog__info {
    font-size: 16px;
  }

  .article__title {
    font-size: 30px;
    margin: 0px 0px 23px 0px;
  }

  .article__category {
    font-size: 18px;
  }
}

@media (max-width: 29.99875em) {
  .footer {
    padding: 30px 0;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #e40000;
  }

  .social__item:hover {
    color: #FF6464;
  }

  .menu__link:hover {
    color: #FF6464;
  }

  .recent-posts__view-all:hover {
    text-decoration: underline;
  }

  .recent-post__title:hover {
    color: #FF6464;
  }

  .works__title:hover {
    color: #FF6464;
  }

  .blog .blog__subtitle:hover {
    color: #FF6464;
  }
}